<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
     <!-- Este Div va dentro del elemento que se llame root o donde esté gobernando Vue (está de prueba) -->
     <div id="root">
        <div class="container mt-5">
            <div class="row">
                <div class=" col-md-3 mb-3" v-for="item in dataMenu">
                    <div class="card h-100" >
                        <img :src="item.img" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{item.title}}</h5>
                          <p class="card-text">{{item.description}}</p>
                        </div>
                        <div class="card-footer bg-white">
                            <h5 class="card-text text-center">${{item.price.toLocaleString('es-ES',{style:'currency',currency:'COP',maximumFractionDigits: 0})}}</h5>
                            <a href="#" class="btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" :id="item.id" @click="deployModal">Agregar</a>
                        </div>
                    </div>
                </div>
                
            </div>

                        <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title  display-6 fw-normal" id="exampleModalLabel">{{modalInformation.title}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body w-75 mx-auto">
                        <img :src="modalInformation.img" alt="mexicana" class=" d-block mx-auto w-100">
                        <p class="card-text text-center mt-3"> {{modalInformation.detailedDescription}}</p>
                        <div class="d-flex justify-content-center align-items-center  mb-3  mx-auto  ">
                            <button class="btn btn-dark" @click="decreaseUnits">-</button>
                            <input type="number" readonly class=" w-75 h-100 py-1 text-center " v-model="numberOfUnits">
                            <button class="btn btn-dark" @click="increaseUnits">+</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="w-75 mx-auto d-flex justify-content-center gap-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-dark" @click="confirmOrder">Confirmar el pedido</button>
                        </div>
                      
                    </div>
                </div>
                </div>
            </div>


          
            
        </div>

    </div>

    <script src="./js/menu.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>